<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
              <%= content_tag :span, "¡Hola Victoria!", :class => "navbar-brand" %>

  </div>
        <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
      <!-- /.dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out fa-fw"></i> Salir
                <% end %>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
  </ul>
        <!-- /.navbar-top-links -->

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse in" aria-expanded="true">
          <ul class="nav" id="side-menu">
              <li>
                <%= link_to root_path do %>
                  <i class="fa fa-android fa-fw"></i> Inicio
                <% end %>

              </li>
               <li>
                  <a href="#"><i class="fa fa-user fa-fw"></i> Compradores<span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <%= link_to buyers_path do %>
                          Ver todos / editar
                          <% end %>

                      </li>
                      <li>
                          <%= link_to new_buyer_path do %>
                              Crear
                          <% end %>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
               <li>
                  <a href="#"><i class="fa fa-list fa-fw"></i> Categorías <span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <%= link_to categories_path do %>
                          Ver todos / editar
                          <% end %>

                      </li>
                      <li>
                          <%= link_to new_category_path do %>
                              Crear
                          <% end %>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
               <li>
                  <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Ordenes de compra <span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <%= link_to orders_path do %>
                          Ver todos / editar
                          <% end %>

                      </li>
                      <li>
                          <%= link_to new_order_path do %>
                              Crear
                          <% end %>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
               <li>
                  <a href="#"><i class="fa fa-stack-overflow fa-fw"></i> Productos <span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                      <li>
                          <%= link_to products_path do %>
                          Ver todos / editar
                          <% end %>

                      </li>
                      <li>
                          <%= link_to new_product_path do %>
                              Crear
                          <% end %>
                      </li>
                  </ul>
                  <!-- /.nav-second-level -->
              </li>
          </ul>
      </div>
      <!-- /.sidebar-collapse -->
  </div>
    <!-- /.navbar-static-side -->
</nav>
